* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;
}
.container {
    display: grid;
    grid-template-areas: 
    "header"
    "menu"
    "main"
    "footer";
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 5vh 1fr 19vh;  
}
h1 {
    font-size: 2rem;
}
p {
    font-size: 2rem;
    margin: 0;

}
.header {
    background-color: #ffe600;
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.principal {
    
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.principal img {
    height: 3rem;
    width: auto;
}
.menu {
    background: #ff0000;
    grid-area: menu;
    
}
.box {
    height: 15rem;
    width: 12rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;  
    box-shadow: 2rem 2rem 3rem rgba(0,0,0,0.2);

} 
.produto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 80vw;
}
.descricao {
    display: flex;
    height: 20%;
    width: 100%;
    flex-direction: column; 
    gap: 1rem;

}
.box p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
.nome {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    width: 100%;

}
.descricao:hover .nome{
    transition: all 0.1s;
    color: #0400ff;
}
.preco {
    color:#000000;
    font-weight: bolder;
    text-align: center;
    
}
.preco p {
    font-size: 1.2rem;
}
.produto img{
    width: 80%;
    height: auto;
}
.comprar {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.riscar {
    text-decoration: line-through black;
    color: rgb(121, 121, 117);
}
.box button {
    font-size: 1rem;
    border-radius: 0.3rem;
    height: 1.7rem;
    background-color: rgb(231, 100, 60);
}
.box button:hover {
    background-color: rgb(255, 69, 0);
    cursor: pointer;
}
.box:hover {
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    transform: scale(1.05);
}
.main {
    background: #d7d1d1;
    grid-area: main;
    padding: 1rem;
    display: flex; 
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}
.footer {
    background: #ffff00;
    grid-area: footer;
}

@media (min-width: 768px){
    .container {
        display: grid;
        grid-template-areas: 
        "header header"
        "menu main"
        "footer footer";
        grid-template-columns: 20vw 1fr;
        grid-template-rows: 15vh 1fr 20vh;
    }
    .header {
        grid-area: header;
    }
    .menu {
    grid-area: menu;
    
    }
    .main {
    grid-area: main;
    }
        .box {
        width: 11rem;
        height: 13rem;
    }
    .footer {
    grid-area: footer;
    } 
} 
@media (min-width: 1024px){
    .container {
        display: grid;
        grid-template-areas: 
        "header header"
        "menu main"
        "footer footer";
        grid-template-columns: 10vw 1fr;
        grid-template-rows: 20vh 1fr 20vh;
    }
    .header {
        grid-area: header;  
        
    }
    .principal img{
        height: 7vh;
    
    }
    .menu {
    grid-area: menu;
    
    }
    .main {
    grid-area: main;
    flex-direction: row;
    }
    .footer {
    grid-area: footer;
    } 
} 


