body {
    margin: 0;
    color: white;
    background: #242338;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
aside img {
    filter: invert(50%);
}
.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "header"
    "aside"
    "main"
    "footer";
    grid-template-rows: 32rem 4rem 1fr 4rem;
}

header {
    grid-area: header;
    padding: 0.7rem;
    display: grid;
    grid-template-rows: 7rem 1fr;
}
header p {
    font-size: 2rem;
}
.capa {
    display: flex;
    justify-content: center;
}
.capa img {
    width: 25rem;
}
.part1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  
}

.part1 img {
    width: 2rem;
}
p {
    margin: 0;  
}
.forte{
    font-weight:bold;
}
.sublinhar {
    text-decoration: underline #da048b;}
.mudar{
    color:#da048b;
    background: white;
}
aside {
    grid-area: aside;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #22222e;
    box-shadow: 0 0 4rem  1rem rgba(238, 238, 238, 0.1);

}
.lista {
    display: grid;
    grid-template-columns: 5rem 5rem 5rem 5rem;
}
.opcao {
    width: 4rem;
    height: 3.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 1rem;

}
.opcao img {
    width: 2rem;
    height: auto;
}
.opcao:hover img {
    filter: invert(100%)
}
.opcao {
    font-size: 0.8rem;
}
main {
    grid-area: main;
    margin: 0;

}
main h1 {
    font-size: 1.5rem;
}
.assunto {
}
.box {
    display: grid;
    grid-template-columns: 1fr 1fr;


}
main img {
    width: 13rem;
}
.foto p {
    background: #da048b;
}
.grade {
    padding: 1rem;  
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 15rem 16rem 15rem;
}
.grade img {
    width: 17rem;
}
.foto2 {
    grid-row: 3;
    grid-column: 1;
}
.foto3 {
    grid-row: 2;
    grid-column: 2;
    text-align: right;
}


footer {
    grid-area: footer;
    background: #000000;


}
@media(min-width: 768px) {
    .container {
        grid-template-areas: 
        "aside header"
        "aside main"
        "aside footer";
        grid-template-columns: 7rem 1fr;
        grid-template-rows: 30rem 1fr;
    }
    header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: 10rem;
        align-items: center;
        padding: 0;
    }
    .arrow {
    display: flex;
    width: 40rem;
    justify-content: right;
    }
    .part1 img {
        width: 4rem;
    }
    .capa img {
        width: 30rem;
    }
    aside{
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        align-items: start;

    }
    .lista {
        grid-template-rows: 10rem 10rem 10rem 10rem;
        grid-template-columns: 1fr;
        margin: 1rem;
    }
    main {
        padding: 2rem;
    }
    main img {
        width: 17rem;
    } 
}
@media (min-width: 1024px) {
    header { 
        height: 35rem;
        grid-template-columns: 1fr 1fr;
    }
    header p {
        font-size: 3rem;
    }
}