body {
    margin: 0;
}
.container {
    display: grid;
    grid-template-areas: 
    "header"
    "menu"
    "main"
    "footer";
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 5vh 1fr 20vh;  
}
h1 {
    font-size: clamp(0.5rem, 2vw + 1rem, 3rem)
}
.header {
    background-color: #ffe600;
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.menu {
    background: #ff0000;
    grid-area: menu;
    
}
.box {
    height: 5rem;
    width: 4rem;
    background-color: #ffe600;
    border: 0.1rem solid black;
}
.box:hover {
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
.main {
    background: #33ff00;
    grid-area: main;
    padding: 1rem;
    display: flex; 
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
   
}
.footer {
    background: #0400ff;
    grid-area: footer;
}

@media (min-width: 768px){
    .container {
        display: grid;
        grid-template-areas: 
        "header header"
        "menu main"
        "footer footer";
        grid-template-columns: 20vw 1fr;
        grid-template-rows: 15vh 70vh 20vh;
    }
    .header {
        background: #ff9494;
        grid-area: header;
    }
    .menu {
    background: #43c53e;
    grid-area: menu;
    
    }
    .main {
    background: #34b3d3;
    grid-area: main;
    }
    .footer {
    background: #504eb6;
    grid-area: footer;
    } 
} 
@media (min-width: 1024px){
    .container {
        display: grid;
        grid-template-areas: 
        "header header"
        "menu main"
        "footer footer";
        grid-template-columns: 10vw 1fr;
        grid-template-rows: 20vh 70vh 20vh;
    }
    .header {
        background: #998f8f;
        grid-area: header;
        
        
    }
    .menu {
    background: #00ebf3;
    grid-area: menu;
    
    }
    .main {
    background: #ad6a91;
    grid-area: main;
    flex-direction: column;
    }
    .footer {
    background: #ff04d5;
    grid-area: footer;
    } 
} 


